<span ng-class="{strike:item.completed}" > {{item.todo}}</span>
<button type="button" class="btn btn-success fa-pull-left" ng-click="completeItem(item)">
    <i class="fa-regular fa-square" ng-show="!item.completed"></i>
    <i class="fa-solid fa-square-check" ng-show="item.completed"></i>
</button><a href="/additem/edit/{{item.id}}" class="btn btn-light fa-pull-right"><i class="fa-regular fa-pen-to-square"></i> </a>
<button type="button" class="btn btn-an btn-danger fa-pull-right" ng-click="removeItem(item)"><i class="fa-regular fa-trash-can"></i></button>

